* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #0f172a;        /* dark slate */
  --second-bg-color: #020617; /* deeper section background */
  --text-color: #e5e7eb;      /* soft white */
  --muted-text: #9ca3af;      /* secondary text */
  --main-color: #38bdf8;      /* soft blue accent */
  --border-color: #1e293b;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}

#menu-icon{
    font-size: 3.Srem;
    color: var(--main-color);
    display:none;
}